<!DOCTYPE html>
<html lang="pt-BR" ng-app="conteudo">
<head>
    <meta charset="UTF-8">
    <title>Conteúdo</title>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular/angular-messages.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers/conteudoCtrl.js"></script>
    <script src="js/services/textosAPIService.js"></script>
    <script src="js/directives/uiAlertDirective.js"></script>
    <script src="js/directives/uiDateDirective.js"></script>
    <script src="value/configValue.js"></script>
    <script src="filter/nameFilter.js"></script>
    <link rel="stylesheet" type="text/css" href="css/app.css"/>
    <link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="css/ui.css"/>

</head>
<body ng-controller="conteudoCtrl">
    <div class="jumbotron">
        <h4 ng-bind="app"></h4>

        <ui-alert title="Ops, aconteceu um problema!" ng-show="error">
            {{error}}
        </ui-alert>

        <input class="form-control" type="text" ng-model="criterioDeBusca" placeholder="O que você está buscando"/>
        <table class="table table-striped">
            <tr>
                <th></th>
                <th><a href="" ng-click="ordenarPor('id')">Id</a></th>
                <th><a href="" ng-click="ordenarPor('description')">Descrição</a></th>
                <th><a href="" ng-click="ordenarPor('site')">Site</a></th>
                <th><a href="" ng-click="ordenarPor('update_at')">Atualizado</a></th>
                <th><a href="" ng-click="ordenarPor('create_at')">Criado</a></th>
            </tr>
            <tr ng-class="{selecionado: texto.selecionado}" ng-repeat="texto in textos | filter:{description: criterioDeBusca} | orderBy:criterioDeOrdenacao:direcaoDaOrdenacao">
                <td><input type="checkbox" ng-model="texto.selecionado" /></td>
                <td>{{texto.id}}</td>
                <td>{{texto.description | name}}</td>
                <td>{{texto.site}}</td>
                <td>{{texto.update_at | date: 'dd/MM/yyyy HH:mm'}}</td>
                <td>{{texto.create_at | date:'dd/MM/yyyy HH:mm'}}</td>
            </tr>
        </table>
        <hr/>
        <form name="textoForm" >
            <input class="form-control" type="text" ng-model="texto.description" name="description" placeholder="Descrição" ng-required="true" ng-minlength="3"/>
            <input class="form-control" type="text" ng-model="texto.site" name="site" placeholder="Site" ng-required="true" ng-pattern="/([\w-]+\.)+[\w-]+(/[\w- ./?%&=]*)?/"/>
            <input class="form-control" type="text" ng-model="texto.create_at" name="create_at" placeholder="Data" ui-date/>
        </form>

        <div ng-show="textoForm.description.$dirty" ng-messages="textoForm.description.$error">
            <div ng-message="required" class="alert alert-danger">
                Por favor, preencher o campo Nome!
            </div>
            <div ng-message="minlength" class="alert alert-danger">
                O campo nome deve ter no mínimo 10 caracteres.
            </div>
        </div>
        <div class="alert alert-danger" ng-show="textoForm.site.$error.required && textoForm.site.$dirty" >
            Por favor, preencher o campo Site!
        </div>
        <div class="alert alert-danger" ng-show="textoForm.site.$error.pattern" >
            O campo site deve ter o formato site@site.com.
        </div>
        <button class="btn btn-primary btn-block" ng-click="adicionarTexto(texto)" ng-disabled="textoForm.$invalid">Adicionar Texto</button>
        <button class="btn btn-danger btn-block" ng-click="apagarTexto(textos)" ng-show="isTextoSelecionado(textos)" >Apagar Texto</button>
    </div>
    <div ng-include="'view/footer.html'"></div>

</body>
</html>