<div class="jumbotron">
    <h4 ng-bind="app"></h4>

    <ui-alert title="Ops, aconteceu um problema!" ng-show="error">
        {{error}}
    </ui-alert>

    <ui-accordions>
        <ui-accordion title="Accordion 1">
            testd fdgsfds hdsjkfds dshfjks dfjshfkjs
            testd fdgsfds hdsjkfds dshfjks dfjshfkjs
            testd fdgsfds hdsjkfds dshfjks dfjshfkjs
        </ui-accordion>
        <ui-accordion title="Accordion 2">
            testd fdgsfds hdsjkfds dshfjks dfjshfkjs
            testd fdgsfds hdsjkfds dshfjks dfjshfkjs
            testd fdgsfds hdsjkfds dshfjks dfjshfkjs
        </ui-accordion>
    </ui-accordions>
    <br/>
    <input class="form-control" type="text" ng-model="criterioDeBusca" ng-model-options="{updateOn: 'default blur', debounce:{default: 800, blur: 0}}" placeholder="O que você está buscando"/>
    <table class="table table-striped">
        <tr>
            <th></th>
            <th><a href="" ng-click="ordenarPor('id')">Id</a></th>
            <th><a href="" ng-click="ordenarPor('description')">Descrição</a></th>
            <th><a href="" ng-click="ordenarPor('site')">Site</a></th>
            <th><a href="" ng-click="ordenarPor('update_at')">Atualizado</a></th>
            <th><a href="" ng-click="ordenarPor('create_at')">Criado</a></th>
        </tr>
        <tr ng-class="{selecionado: texto.selecionado}" ng-repeat="texto in textos | filter:{description: criterioDeBusca} | orderBy:criterioDeOrdenacao:direcaoDaOrdenacao" track by texto.id>
            <td><input type="checkbox" ng-model="texto.selecionado" /></td>
            <td>{{::texto.id}}</td>
            <td><a href="#!/detalhe-texto/{{texto.id}}">{{::texto.description | name}}</a></td>
            <td>{{::texto.site}}</td>
            <td>{{::texto.update_at | date: 'dd/MM/yyyy HH:mm'}}</td>
            <td>{{::texto.create_at | date:'dd/MM/yyyy HH:mm'}}</td>
        </tr>
    </table>
    <hr/>
    <a href="#!/novo-texto" class="btn btn-primary btn-block">Novo Texto</a>
    <button class="btn btn-danger btn-block" ng-click="apagarTexto(textos)" ng-show="isTextoSelecionado(textos)" >Apagar Texto</button>
</div>